
body{
font-family: Playfair Display;
}

#herohead {
  height: 100vh;
  min-height: 500px;
  background-image: url("imgs/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}